<your domain name> {
  root * /usr/share/caddy

  @websockets {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  reverse_proxy @websockets 127.0.0.1:51310/ws

  route {
    reverse_proxy /ws 127.0.0.1:51310
    file_server
  }

  log {
    output stdout
  }
}
